/bin/
/dist/
/.idea/
/.vscode/
/.riquet/
**/target/
**/obj/
test/e2e/artifacts/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.db
*.db.lock
*.out
coverage.*
*.coverprofile
profile.cov
go.work
go.work.sum
.env
.env.local
